@import '../../shared/colors.scss';
@import '../../shared/media.scss';

.Menu {
    display: flex;
    gap: 60px;

    @include m_mobile() {
        gap: 15px;
    }

    &__item {
        color: $c_blue;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-decoration: underline;

        &_active {
            color: $c_black;
            text-decoration: none;
        }
    }
}

