@import '../../shared/colors.scss';

:root {
    --catalogMore__caption-width: 140px;
}

.CatalogMore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 32px;

    &::before {
        width: var(--catalogMore__caption-width);
        content: '';
    }

    &__button {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__caption {
        width: var(--catalogMore__caption-width);
        color: $c_gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
        line-height: 21px;
        text-align: right;
    }
}


