:root {
    --catalogMore__caption-width: 140px;
}

.catalogMore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 32px;
}

.catalogMore::before {
    width: var(--catalogMore__caption-width);
    content: '';
}

.catalogMore__button {
    flex-grow: 0;
    flex-shrink: 0;
}

.catalogMore__caption {
    width: var(--catalogMore__caption-width);
    color: #90A3BF;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
    text-align: right;
}