:root {
    --catalogItem-pad: 24px;
}

.catalogItem {
    position: relative;
    box-sizing: border-box;
    height: 388px;
    padding: var(--catalogItem-pad);
    background-color: #FFFFFF;
    border-radius: 10px;
}

.catalogItem__titleBlock {
    margin-right: calc(var(--icon-size) + var(--catalogItem-pad));
}

.catalogItem__title {
    color: #1A202C;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.catalogItem__category {
    margin-top: 4px;
    color: #90A3BF;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
}

.catalogItem__favorite {
    position: absolute;
    top: var(--catalogItem-pad);
    right: var(--catalogItem-pad);
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

.catalogItem__imageBlock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 132px;
    margin-top: 28px;
}

.catalogItem__image {
    max-width: 100%;
    max-height: 100%;
}

.catalogItem__imageBlock::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 66px;
    background-image: linear-gradient(to top, #FFFFFF, rgba(255, 255, 255, 0));
    content: '';
}

.catalogItem__details {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.catalogItem__detailsItem {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.catalogItem__detailsItemIcon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 8px;
}

.catalogItem__detailsItemCaption {
    color: #90A3BF;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
}

.catalogItem__rentBlock {
    position: absolute;
    right: var(--catalogItem-pad);
    bottom: var(--catalogItem-pad);
    left: var(--catalogItem-pad);
    display: flex;
    align-items: center;
}

.catalogItem__priceBlock {
    flex-grow: 1;
    flex-shrink: 0;
}

.catalogItem__priceRow {
    white-space: nowrap;
}

.catalogItem__oldPrice {
    margin-top: 4px;
    color: #90A3BF;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: line-through;
}

.catalogItem__price {
    color: #1A202C;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    vertical-align: bottom;
}

.catalogItem__subject {
    color: #90A3BF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.catalogItem__rentButton {
    flex-grow: 0;
    flex-shrink: 0;
}