@import '../../shared/colors.scss';

.Loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;

    &__text {
        color: $c_black;
        font-size: 32px;
    }
}
